include ../partials/header
include ../partials/top_menu
div(class="comment-section")
    div(class="col-md-10 offset-md-1 col-sm-12")
        a(href='/city/'+ city.id) <- Go Back
        h1 Create comment for #{city.cityName}
        form(action="/city/" + city.id + "/comments/", method="post")
            label(for="comment_body")
            textarea(type="text" , id="comment_body", class="form-control" name="comment_body" rows="3", placeholder="Enter your comment")
            input(type="submit",  name="submit", class="btn btn-success page_submit mt-2")

include ../partials/footer


