.container{
    margin-top: 5%;
    margin-left:2%;
}
#citiesTable{
    padding: 5px;
    border:1px black solid;
}
.city-record{
    padding-bottom: 0!important;
}
.edit_form{
    min-width: 50%;
    min-height:100%;
    text-align:center;
}
.delete_form{
    min-width: 50%;
    min-height:100%;
    text-align:center;
}
.fa-edit{
    color:#457b9d;
}
.fa-trash-alt{
    color:#457b9d;
}
a {
    z-index: 20;
    position: relative;
}
.page_submit{
    display: inline-block;
    width:100%;
}

.create_new{
    display: inline-block;
    margin-bottom: 5px;
}
.post-image{
    max-width: 50%;
}

#map{
    height:100%;
}
#vertical_banner{
    min-height:100%;
    max-width:100%;
}
.signIn_form{
    margin-top:15%;
}
#signInSubmitButton{
    margin-top:1%;
    min-width: 100%;
    display: inline-block;
}
@media only screen and (max-width: 1200px) {
    .signInBanner {
        display: none;
    }
    .container{
        margin-top:20%;
    }
    .city_comment_sidebar{
        margin-top: 5%;

    }
    .show_container{
        margin-top: 10%;
    }
}
#signUpSubmitButton{
    margin-top:1%;
    min-width: 100%;
    display: inline-block;
}
.show_container{
    margin-top: 5%;
    height: 40%;
}
.comment-section{
    margin-top: 5%;
}